.htaccess.sample
.idea/encodings.xml
.idea/html.iml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
360degree.php
KSWM/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
Paging.php
RELEASE_NOTES.txt
api.php
backup/
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
index.php
index.php.sample
install.php
key.txt
klimaireDB.sql
klimaireDB2.sql
klimaireDB3.sql
klimaireDB4.sql
lib/
mage
magento-cleanup.php
magento-db-repair-tool-1.1.php
media/
medianew/
moduleCreator/
munin/
php.ini
php.ini.sample
phpinfo.php
pkginfo/
robots.txt
rockwell-warranty.pdf
shell/
sitemap.xml
var/
warr.pdf
wr360/

