<?xml version="1.0"?>
<config>
    <modules>
        <Klimaire_Contactus>
            <version>0.1.0</version>
        </Klimaire_Contactus>
    </modules>
    <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Klimaire_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
        <layout>
            <updates>
                <contactus>
                    <file>contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <contactus>
                <class>Klimaire_Contactus_Helper</class>
            </contactus>
        </helpers>   
        <blocks>
            <contactus>
                <class>Klimaire_Contactus_Block</class>
            </contactus>
        </blocks>
        <resources>
            <contactus_setup>
                <setup>
                    <module>Klimaire_Contactus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactus_setup>
            <contactus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactus_write>
            <contactus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactus_read>
        </resources>
    </global> 
    <admin>
        <routers>
            <contactus>
                <use>admin</use>
                <args>
                    <module>Klimaire_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <contactus module="contactus">
                <title>Contactus</title>
                <sort_order>100</sort_order>
                <children>
                    <contactusbackend module="contactus">
                        <title>Contact Request</title>
                        <sort_order>0</sort_order>
                        <action>contactus/adminhtml_contactusbackend</action>
                    </contactusbackend>
                </children>
            </contactus>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <contactus translate="title" module="contactus">
                            <title>Contactus</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <contactusbackend translate="title">
                                    <title>Contact Request</title>
                                </contactusbackend>
                            </children>
                        </contactus>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <contactus>
                    <file>contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </adminhtml>
</config> 