h1{ font-size: 1.5em; }
/*.track {*/
/*background-color: #aaa;*/
/*position: relative;*/
/*height: 0.5em; width: 10em;*/
/*cursor: pointer; z-index: 0;*/
/*}*/
.handle {
    background: #00A4E7;
    background: -webkit-linear-gradient(top, #1E1F1C, #0377a7);
    background: -moz-linear-gradient(top, #00A4E7, #0377a7);
    background: linear-gradient(top, #00A4E7, #0377a7);
    -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #054b67; /*496805*/
    width: 16px;
    height: 16px;
}
.track.vertical {
    width: 0.5em; height: 10em;
}
.track.vertical .handle {
    width: 1em; height: 0.25em; top: 0; left: -0.25em;
}
/*----------*/
.slider {
    width: 300px;
}

.slider > .dragger {
    background: #00A4E7;
    background: -webkit-linear-gradient(top, #00A4E7, #0377a7);
    background: -moz-linear-gradient(top, #00A4E7, #0377a7);
    background: linear-gradient(top, #00A4E7, #0377a7);

    -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    border: 1px solid #054b67;/*#496805;*/
    width: 16px;
    height: 16px;
}

.slider > .dragger:hover {
    background: -webkit-linear-gradient(top, #00A4E7, #00A4E7);
}


.slider > .track, .slider > .highlight-track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #ddd);
    background: -moz-linear-gradient(top, #bbb, #ddd);
    background: linear-gradient(top, #bbb, #ddd);

    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    border: 1px solid #aaa;
    height: 4px;
}

.track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #ddd);
    background: -moz-linear-gradient(top, #bbb, #ddd);
    background: linear-gradient(top, #bbb, #ddd);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    height: 4px;
}
