<?xml version="1.0"?>
<config>
	<sections>
		<carriers>
			<groups>
				<fedex translate="label" module="usa">
					<label>FedEx</label>
					<frontend_type>text</frontend_type>
					<sort_order>120</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled for Checkout</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<account translate="label comment">
							<label>Account ID</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Please make sure to use only digits here. No dashes are allowed.</comment>
						</account>
						<meter_number translate="label">
							<label>Meter Number</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</meter_number>
						<key translate="label">
							<label>Key</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</key>
						<password translate="label">
							<label>Password</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<sandbox_mode translate="label">
							<label>Sandbox Mode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>75</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
					   </sandbox_mode>
						<packaging translate="label">
							<label>Packaging</label>
							<frontend_type>select</frontend_type>
							<source_model>usa/shipping_carrier_fedex_source_packaging</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</packaging>
						<dropoff translate="label">
							<label>Dropoff</label>
							<frontend_type>select</frontend_type>
							<source_model>usa/shipping_carrier_fedex_source_dropoff</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</dropoff>
						<max_package_weight translate="label">
							<label>Maximum Package Weight (Please consult your shipping carrier for maximum supported shipping weight)</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</max_package_weight>
						<handling_type translate="label">
							<label>Calculate Handling Fee</label>
							<frontend_type>select</frontend_type>
							<source_model>shipping/source_handlingType</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</handling_type>
						<handling_action translate="label">
							<label>Handling Applied</label>
							<frontend_type>select</frontend_type>
							<source_model>shipping/source_handlingAction</source_model>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</handling_action>
						<handling_fee translate="label">
							<label>Handling Fee</label>
							<frontend_type>text</frontend_type>
							<sort_order>130</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</handling_fee>
						<residence_delivery translate="label">
							<label>Residential Delivery</label>
							<frontend_type>select</frontend_type>
							<sort_order>140</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</residence_delivery>
						<allowed_methods translate="label">
							<label>Allowed Methods</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>usa/shipping_carrier_fedex_source_method</source_model>
							<sort_order>150</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</allowed_methods>
						<free_method translate="label">
							<label>Free Method</label>
							<frontend_type>select</frontend_type>
							<frontend_class>free-method</frontend_class>
							<source_model>usa/shipping_carrier_fedex_source_freemethod</source_model>
							<sort_order>160</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</free_method>
						<free_shipping_enable translate="label">
							<label>Free Shipping with Minimum Order Amount</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>170</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</free_shipping_enable>
						<free_shipping_subtotal translate="label">
							<label>Minimum Order Amount for Free Shipping</label>
							<frontend_type>text</frontend_type>
							<sort_order>180</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</free_shipping_subtotal>
						<specificerrmsg translate="label">
							<label>Displayed Error Message</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>190</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificerrmsg>
						<sallowspecific translate="label">
							<label>Ship to Applicable Countries</label>
							<frontend_type>select</frontend_type>
							<sort_order>200</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sallowspecific>
						<specificcountry translate="label">
							<label>Ship to Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>210</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</specificcountry>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>220</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</debug>
						<showmethod translate="label">
							<label>Show Method if Not Applicable</label>
							<frontend_type>select</frontend_type>
							<sort_order>230</sort_order>
							<frontend_class>shipping-skip-hide</frontend_class>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</showmethod>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>240</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
					</fields>
				</fedex>
			</groups>
		</carriers>
	</sections>
</config>
